<%- include('./partials/header') -%>
    <div id="main">
        <div id="regbox">
            <h1 class="object">Register</h1>
            <form action="/register" method="POST">
                <div class="object">
                    <label for="user">Username</label>
                    <input id="user" type="text" name="username">
                </div>
                <div class="object">
                    <label for="pass">Password</label>
                    <input id="pass" type="password" name="password">
                </div>
                <div class="object">
                    <button>Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('./partials/footer') -%>